Host *
Compression yes
ForwardAgent yes

Host *.yahoo.com
#ProxyCommand nc -x127.0.0.1:1080 -X5 %h %p

# Alias to bypass the ProxyCommand for *.yahoo.com
Host yproxy
HostName proxy.corp.yahoo.com
LocalForward 1080 socks.corp.yahoo.com:1080
